Source: pam-script
Priority: optional
Maintainer: R.K. Owen <rkowen@nersc.gov>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, autoconf, automake, libtool, gettext, libpam0g-dev
Standards-Version: 3.6.2
Section: libs

Package: pam-script-module
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam0g, libpam-modules
Suggests: libpam-doc
Description: a PAM module that can invoke scripts within the PAM stack
 pam-script allows you to execute scripts during  authorization,  passwd
 changes, and on session opening or closing; which can affect the PAM stack
 if desired.

Package: pam-script-examples
Section: libs
Architecture: any
Depends: pam-script-module
Suggests: libpam-doc
Description: Some pam-script example programs
 The tally script emulates much of the pam-tally module, but via pam-script.
 The logscript just records the passed on PAM_* env.vars. - useful for
 understanding what and how PAM modules are executed.

